[submodule "public/g/3kh0-assets"]
	path = public/g/3kh0-assets
	url = https://github.com/Nailington/3kh0-assets
[submodule "public/g/files"]
	path = public/g/files
	url = https://github.com/ShadowDevLabs/files
